<% include ../partials/head %>
<body>
    <% include ../partials/navbar %>
    <div class="container" style="padding-top:6em">
      <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h1 id="forms">Új dokumentum létrehozása</h1>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <div class="bs-component">
                <form lpformnum="1" action="/newdocument" method="POST" encType="multipart/form-data">
                  <fieldset>
                    <legend>Feltöltő</legend>
                    <div class="form-group row">
                      <label for="staticName" class="col-sm-2 col-form-label">Név</label>
                      <div class="col-sm-10">
                        <input type="text" readonly="" class="form-control-plaintext" id="staticName" value="<%=user.name%>">
                        <small>Nem Te vagy? <a href="/auth/logout">Kijelentkezés.</a></small>
                      </div>
                    </div>
                    <legend>Dokumentum</legend>
                    <div class="form-group">
                      <label class="col-form-label" for="inputTitle">Cím</label>
                      <input value="<%=prevdoc.title%>" required name="title" type="text" class="form-control" placeholder="" id="inputTitle">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputUniversity">Egyetem</label>
                      <select onchange="changeFunc();" required name="university" type="text" class="form-control" placeholder="" id="inputUniversity">
                        <%universities.forEach(elem=>{%>
                        <option value="<%=elem%>"><%=elem%></option>
                        <%});%>
                        <option>Egyéb</option>
                      </select>
                    </div>
                    <div style="display:none" id="newunidiv" class="form-group">
                      <label class="col-form-label" for="inputNewUniversity">Egyetem</label>
                      <input name="newUniversity" type="text" class="form-control" placeholder="" id="inputNewUniversity">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputCourse">Szak</label>
                      <input value="<%=prevdoc.course%>" required name="course" type="text" class="form-control" placeholder="" id="inputCourse">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputSemester">Félév</label>
                      <input value="<%=prevdoc.semester%>" min="1" step="1" type="number" name="semester" class="form-control" placeholder="" id="inputSemester">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputTeacher">Tanár</label>
                      <input value="<%=prevdoc.teacher%>" type="text" name="teacher" class="form-control" placeholder="" id="inputTeacher">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputDate">Dátum</label>
                      <input value="<%=prevdoc.lecture_date%>" type="date" name="lecture_date" class="form-control" placeholder="" id="inputDate">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputTags">Kulcsszavak</label>
                      <input type="text" name="tags" class="form-control" placeholder="" id="inputTags">
                      <small class="form-text text-muted" >A kulcsszavakat vesszővel és szóközzel válaszd el egymástól! (Például: biológia, etológia, taxis)</small>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="inputDescription">Leírás</label>
                      <textarea name="description" class="form-control" id="inputDescription" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="files">Fájlok feltöltése</label>
                      <input required name="files" type="file" multiple accept= "image/*, .pdf, .doc, .docx, application/msword" class="form-control-file" id="files" aria-describedby="fileHelp">
                      <small id="fileHelp" class="form-text text-muted">Később is adhatsz hozzá fájlokat.</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Létrehozás</button>
                  </fieldset>
                </form>
              <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            </div>
          </div>
        </div>
    </div>
</body>
<script>
function changeFunc() {
    var uni1 = document.getElementById("inputUniversity");
    var uni2 = document.getElementById("newunidiv");
    var uniinput = document.getElementById("inputNewUniversity");
    var selectedValue = uni1.options[uni1.selectedIndex].value;
    if (selectedValue === 'Egyéb') {
      uniinput.required = true;
      uni2.style.display = "block";
    }
    else{
      uniinput.required = false;
      uni2.style.display = "none";
    }
}
</script>