<% include ../partials/head %>
<body>
    <% include ../partials/navbar %>
    <div class="container" style="padding-top:6em">
      <div class="bs-docs-section">
          <div class="row">
            <div class="col-lg-12">
              <div class="page-header">
                <h1 id="forms">Fiók</h1>
              </div>
              <p>Teljes név: <%=user.name%></p>
              <!-- <p>Nicknév: ..... <i>Ez a név jelenik meg a feltöltött dokumentumoknál, hozzászólásoknál és értékeléseknél.</i> </p>  -->
              <p>Email: <%=user.email%></p>
              <p>Azonosító: <%=user.key%></p>
              <p>Csatlakozott: <%=user.add_date%></p>
              <br>
              <h4>Saját dokumentumok (<%= documents.length%> db):</h4>
              <div style="overflow: scroll; height:400px;"><table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Cím</th>
                    <th scope="col">Egyetem</th>
                    <th scope="col">Szak</th>
                    <th scope="col">Félév</th>
                    <th scope="col">Feltöltés</th>
                  </tr>
                </thead>
                <tbody>
                  <% documents.forEach(doc => {%>
                    <tr>
                      <td><a href="/document/<%=doc.id%>"><%=doc.title%></a></td>
                      <td><%if(doc.university.includes(' - ')) {%> <%=doc.university.split(' - ')[0] %> <%} else {%> <%=doc.university%> <%}%></td>
                      <td><%=doc.course%></td>
                      <td><%=doc.semester%></td>
                      <td><%=doc.getDateFromNow()%></td>
                    </tr>
                    <!-- <a href="/document/<%=doc.id%>"><%=doc.title%></a><br> -->
                  <%});%>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>